@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    max-width: 1920px;
    margin: auto;
}

span,
label,
a,
h1,
h2,
h3,
button,
input {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.header .start .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: inherit;
}

.header .start .menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.header .start .menu a.open-menu:active {
    animation: menuChange 0.3s ease-out;
}

@keyframes menuChange {
    0% {
        transition: all 0.8s;
        transform: scale(0.6);
        background-color: #ececec;
    }
    25% {
        transition: all 0.8s;
        transform: scale(0.7);
        background-color: #ececec;
    }
    50% {
        transition: all 0.8s;
        transform: scale(0.8);
        background-color: #ececec;
    }
    75% {
        transition: all 0.8s;
        transform: scale(0.9);
        background-color: #ececec;
        border: 1px solid #606060;
    }
    100% {
        transition: all 0.8s;
        background-color: transparent;
        border: 1px solid #606060;
        opacity: 0.01;
        transform: scale(1);
    }
}

.header .start .img {
    width: 129px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header .start .img::before {
    content: 'VN';
    position: absolute;
    top: 11px;
    right: 4px;
    color: #7E7E7E;
    font-size: 11px;
}

.header .start img {
    height: 20px;
    width: 90px;
    cursor: pointer;
}

.header .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 686px;
    height: inherit;
}

.header .center .form-search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .center .form-search input {
    flex: 1;
    height: 30px;
    border: 1px solid #ccc;
    border-right: none;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 2px;
    outline: none;
}

.header .center .form-search input:focus-visible,
.header .center .form-search input:focus{
    border: 2px solid #1c62b9;
}

.header .center .form-search .search {
    width: 64px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .center .form-search .search .svg-icon.search-icon {
    width: 20px;
    height: 20px;
}

.header .center .form-search .input-search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header .center .form-search .input-search .keyboard {
    position: absolute;
    right: 10px;
}

.header .center .voice-search{
    width: 40px;
    height: 40px;
    background: #F9F9F9;
    color: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 8px;
    font-size: 16px;
}

[aria-label] {
    position: relative;
}

[aria-label]:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 140%;
    left: -5px;
    z-index: 80;
    pointer-events: none;
    padding: 8px 10px;
    line-height: 15px;
    white-space: nowrap;
    text-decoration: none;
    text-indent: 0;
    overflow: auto;
    font-size: 12px;
    font-weight: normal;
    color: #efefef;
    text-shadow: 1px 0 1px #888;
    background-color: #717171;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
    backdrop-filter: blur(1rem);
}

[aria-label]:hover:after {
    display: block;
}

.header .end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .end button {
    width: 50px;
    height: 40px;
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    padding: 8px;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

.header .end button svg {
    width: 24px;
    height: 24px;
}

.header .end button.info-account {
    width: 60px;
    padding: 0 6px;
}

.header .end button img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header .end .notification {
    position: relative;
}

.header .end .notification span {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 15px;
    height: 15px;
    background: #c00;
    color: #fff;
    line-height: 16px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.dropdown-box,
.header .end .info-box,
.header .end .notification-box,
.header .end .list-app-box,
.header .end .create-video-box {
    position: relative;
}

.header .end .popup-create-video {
    position: absolute;
    top: 41px;
    left: 0;
    width: 190px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 8px;
    z-index: 9;
    display: none;
}

.header .end .popup-info.active,
.header .end .popup-notification.active,
.header .end .popup-list-app.active,
.header .end .popup-create-video.active {
    display: block;
}

.header .end .btn {
    width: 100%;
    padding: 8px 16px;
    justify-content: flex-start;
    align-items: center;
}

.header .end .btn span {
    margin-left: 24px;
    font-size: 14px;
}

.header .end .popup-list-app {
    position: absolute;
    top: 41px;
    right: 0;
    width: 260px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding-bottom: 8px;
    z-index: 9;
    display: none;
}

.header .end .popup-list-app button{
    padding: 0 16px;
}

.header .end hr {
    margin: 8px 0;
}

.header .end .popup-info {
    position: absolute;
    top: 41px;
    right: 0;
    width: 300px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding-bottom: 8px;
    z-index: 9;
    display: none;
}

.header .end .popup-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.header .end .popup-info .header-info {
    display: flex;
    padding: 17px 17px 10px 17px;
}

.header .end .popup-info .header-info a {
    text-decoration: none;
    line-height: 1.5rem;
    font-size: 14px;
    color: #065fd4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.header .end .popup-info .menu-container .btn span {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    margin-left: 17px;
}

.header .end .popup-notification {
    position: absolute;
    top: 41px;
    right: 0;
    width: 480px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding-bottom: 8px;
    z-index: 9;
    display: none;
}

.header .end .list-notification {
    max-height: 600px;
    overflow-y: auto;
}

.header .end .list-notification::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.header .end .list-notification::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(153, 153, 153);
}

.header .end .popup-notification .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #e7e7e7;
}

.header .end .popup-notification .dot {
    background: #065fd4;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin: 22px 6px 0;
}

.header .end .popup-notification .item {
    display: flex;
    padding: 16px 5px 16px 0;
}

.header .end .popup .btn:hover,
.header .end .popup .item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.header .end .popup-notification .item .option {
    opacity: 0;
    padding-left: 16px;
}

.header .end .popup-notification .item:hover .option {
    opacity: 1;
}

.header .end .popup-notification .item .body p {
    font-size: 14px;
    color: #030303;
}

.header .end .popup-notification .item .body span {
    font-size: 12px;
    color: #606060;
}

.header .end .popup-notification .item img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.header .end .popup-notification .item img.thumb {
    border-radius: 0;
    width: 86px;
    height: auto;
    object-fit: cover;
}

.header .end .popup-notification .menu-header h3 {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

main {
    display: flex;
}

.sidebar {
    width: 224px;
    padding-top: 12px;
}

.sidebar .items-mobile {
    display: none;
}

.sidebar.mobile {
    width: 72px;
}

.sidebar.mobile .items-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar.mobile .items-mobile .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar.mobile .items-mobile .item {
    margin: 15px 0;
}

.sidebar.mobile .items-mobile .item h3 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.sidebar.mobile .items-mobile .item svg{
    width: 24px;
    height: 24px;
}

.sidebar .items.disabled {
    display: none;
}

.sidebar .items-mobile.active {
    display: block;
}

.sidebar .items {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
}

.sidebar .items:hover {
    overflow-y: auto;
}

.sidebar .items::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.sidebar .items::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(153, 153, 153);
}

.sidebar .items .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 24px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.sidebar .items .item:hover {
    background: #f2f2f2;
}

.sidebar .items .item.avatar img{
    border-radius: 50%;
}

.sidebar .items .item svg,
.sidebar .items .item i,
.sidebar .items .item img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.sidebar .items .item h3 {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
    color: #515151;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

hr {
    border: none;
    border-top: 1px solid rgb(212, 212, 212);
    margin: 16px 0;
}

.sidebar .items .item.active {
    background: #e5e5e5;
}

.sidebar .items .item.active h3 {
    font-weight: bold;
    color: #000;
}

.sidebar .items .title {
    padding: 0 24px 10px;
    font-weight: 600;
    font-size: 1rem;
    color: #515151;
}

.links-secondary,
.links-primary {
    padding: 10px 24px;
}

.links-secondary a,
.links-primary a{
    text-decoration: none;
    color: #747474;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
}

.copyright {
    padding: 0 24px;
    color: #a4a4a4;
    font-size: 14px;
}

.content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
}

.content-right .filter {
    width: 100%;
    min-height: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-right .filter .filter__item.active {
    color: #fff;
    background: #000;
}

.content-right .filter .filter__item {
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    color: #4d4d4d;
    background: #f2f2f2;
    margin: 12px;
    margin-left: 0;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
}

.content-right .filter .filter__item:not(:first-child):hover {
    background: #e2e2e2;
}

.content-right .contents {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 0 24px;
    height: calc(100vh - 138px);
}

.content-right .contents::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.content-right .contents::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(153, 153, 153);
}

.content-right .contents .content__item {
    flex: 1 0 21%;
    margin: 24px 8px 16px 8px;
    cursor: pointer;
}

.content-right .contents .content__item .item__img {
    position: relative;
    width: 100%;
    max-height: 100%;
}

.content-right .contents .content__item .item__img .add-list-wait {
    position: absolute;
    top: 40px;
    right: 0.5rem;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    width: 32px;
    height: 27px;
    background-color: #030304;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.content-right .contents .content__item .item__img .watch-later {
    position: absolute;
    top: 10px;
    right: 0.5rem;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    width: 32px;
    height: 27px;
    background-color: #030304;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.content-right .contents .content__item .item__img svg {
    width: 24px;
    height: 24px;
}

.content-right .contents .content__item .item__img .time-video {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #030304;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right .contents .content__item .item__img .time-video span {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.content-right .contents .content__item .item__img img {
    width: 100%;
    height: 100%;
}

.content-right .contents .content__item .item__body {
    display: flex;
    position: relative;
}

.content-right .contents .content__item .item__body img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
}

.content-right .contents .content__item .item__body .details {
    flex: 1;
    margin-top: 10px;
    margin-right: 15px;
}

.content-right .contents .content__item .item__body .details a {
    text-decoration: none;
    color: inherit;
}

.content-right .contents .content__item .item__body .details .name-video{
    font-size: 14px;
    line-height: 1.3rem;
    max-height: 4rem;
    margin-bottom: 8px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-right .contents .content__item .item__body .details .info,
.content-right .contents .content__item .item__body .details h3 {
    color: #060606;
    font-size: 14px;
    line-height: 1.2rem;
    font-weight: 500;
    opacity: 0.9;
}

.content-right .contents .content__item .item__body .details h3 svg {
    width: 12px;
    height: 12px;
    opacity: 0.9;
}

.content-right .contents .content__item .item__body .option{
    vertical-align: middle;
    color: inherit;
    position: absolute;
    top: 5px;
    right: 0;
    display: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    line-height: 0;
    cursor: pointer;
}

.content-right .contents .content__item:hover .watch-later,
.content-right .contents .content__item:hover .add-list-wait {
    display: flex;
}

.content-right .contents .content__item:hover .option {
    display: block;
}

.content-right .contents .content__item .item__body .details .info {
    display: flex;
}

.content-right .contents .content__item .item__body .details .info .views::after{
    content: "•";
    margin: 0 4px;
}

/* Modal Micro */
.modal-micro {
    position: fixed;
    z-index: 2201;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-micro.active {
    display: block;
}

.modal-micro .background-modal {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(0.1rem);
}

.modal-micro .container-micro {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 592px;
    height: 416px;
    padding: 0 0 16px 32px;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-micro .container-micro .header .header__text {
    padding: 48px 0 24px;
}

.modal-micro .container-micro .header .header__text h3{
    font-size: 24px;
    font-weight: 500;
}

.modal-micro .container-micro .header .header__exit .close {
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    color:rgb(153, 153, 153);
    background: none;
    cursor: pointer;
}

.modal-micro .container-micro .microphone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.modal-micro .container-micro .microphone .microphone-container.active{
    width: 68px;
    height: 68px;
    background: #cc0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 8px;
    font-size: 28px;
    margin-bottom: 15px;
    position: relative;
}

.modal-micro .container-micro .microphone .microphone-container {
    width: 68px;
    height: 68px;
    background: rgba(0, 0, 0, 0.1);
    color: #030303;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 8px;
    font-size: 28px;
    margin-bottom: 15px;
    position: relative;
}

.modal-micro .container-micro .microphone .microphone-label {
    color: #6e6e6e;
}

.microphone-container.active .pulse-ring {
    content: '';
    width: 80px;
    height: 80px;
    background: #189BFF;
    border: 5px solid #189BFF;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    animation: pulsate infinite 1.5s;
}
  
@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.3, 1.3);
      opacity: 0;
    }
}

/* CSS FOR WATCH */
.watch {
    background: #f9f9f9;
    display: flex;
    flex: 1;
    padding: 24px 70px;
    height: calc(100vh - 56px);
    overflow-y: scroll;
}

.watch::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.watch::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(153, 153, 153);
}

.watch .primary {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.watch .primary .video {
    margin: 0 24px 0 0;
}

.watch .primary .content {
    margin: 0 24px 0 0;
}

.watch .primary .content .content__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 8px 0;
    height: auto;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.watch .primary .content .content__info .title {
    font-weight: 400;
}

.watch .primary .content .content__info .primary-info svg {
    width: 24px;
    height: 24px;
}

.popup-dropdown-trigger {
    position: absolute;
    top: 41px;
    left: 0;
    width: 200px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 5px;
    z-index: 9;
    display: none;
}

.popup-dropdown-trigger.active {
    display: block;
}

.popup-dropdown-trigger .btn {
    justify-content: flex-start!important;
}

.popup-dropdown-trigger .btn span {
    font-size: 14px!important;
    margin-left: 12px;
}

.btn {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    padding: 8px;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.watch .primary .content .content__info .primary-info .view {
    color: #909090;
}

.watch .primary .content .content__info .primary-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.watch .primary .content .content__info .primary-info .controls {
    display: flex;
}

.watch .primary .content .content__info .primary-info .controls .button-like-dislike {
    display: flex;
    border-bottom: 2px solid #030303;
}

.comment-item .item .button-like-dislike a,
.watch .primary .content .content__info .primary-info .controls button,
.watch .primary .content .content__info .primary-info .controls a {
    padding: 8px;
    color: inherit;
    border-radius: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch .primary .content .content__info .primary-info .controls span,
.watch .primary .content .content__info .primary-info .controls a{
    color: #030303;
    font-size: 1rem;
    line-height: 1;
    padding: 0 6px;
    font-weight: 500;
    text-transform: uppercase;
}

.watch .secondary {
    width: 402px;
    min-width: 300px;
}

.watch .secondary .item .thumbnail {
    width: 168px;
    height: 94px;
}

.watch .secondary .item .thumbnail a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.watch .secondary .item .thumbnail a img {
    width: 100%;
    height: 100%;
}

.watch .secondary .item .thumbnail a .time-video{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #030304;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch .secondary .item {
    display: flex;
}

.watch .secondary .item:not(:first-child) {
    margin-top: 12px;
}

.watch .secondary .item .thumbnail a .time-video span{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.item .body {
    flex: 1;
    margin-left: 1rem;
}

.item .body .title{
    font-size: 1rem;
    max-height: 4rem;
}

.item .body .title a {
    text-decoration: none;
}

.item .body .title h3 {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item .body .info,
.item .body h3 {
    color: #060606;
    font-size: 14px;
    font-weight: 400;
}

.item .body h3 {
    font-weight: 600;
}

.item .body a {
    text-decoration: none;
}

.item .body h3 svg {
    width: 12px;
    height: 12px;
}

.item .body .option{
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    display: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 100%;
    line-height: 0;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
}

.top-row {
    margin-bottom: 12px;
    padding-top: 16px;
    display: flex;
}

.top-row img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.info .subcribers {
    font-size: 12px;
    opacity: 0.9;
}

.upload-info {
    flex: 1;
}

.upload-info .body h3 svg {
    width: 12px;
    height: 12px;
}

.top-row .subcribe {
    margin: 1.6px 4px;
    padding: 20px 16px;
    color: #606060;
    display: none;
    font-size: 14px;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.05);
}

.top-row .btn-subcribe {
    background-color: #c00;
    color: #fff;
}

.top-row .subcribe.active {
    display: block;
}

.top-row .notification {
    width: 24px;
    height: 24px;
    margin: 8px;
}

.secondary-info {
    display: flex;
    flex-direction: column;
}

.more a{
    text-transform: uppercase;
    cursor: pointer;
    display: none;
    font-size: 13px;
    color: #606060;
    padding: 8px 0 0;
}

.more a.active {
    display: block;
}

.collapse {
    max-height: 70px;
    line-height: 1.5rem;
    overflow: hidden;
    font-size: 14px;
    color: #030303;
}

.collapse,
.more {
    margin-left: 64px;
    width: calc(100% - 64px);
}

.comments {
    display: flex;
    flex-direction: column;
}

.comments .header-comment {
    display: flex;
    flex-direction: column;
    margin: 24px 0 0 0;
}

.comments .header-comment .title {
    margin-bottom: 24px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.comments .header-comment .title > span {
    margin: 0 32px 0 0;
    -ms-align-self: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.comments .header-comment .title button.sort-comment {
    margin: 0 32px 0 0;
    -ms-align-self: flex-start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.comments .header-comment .title button.sort-comment span {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.comments .header-comment .title button.sort-comment svg {
    width: 24px;
    height: 24px;
}

.comments .handle-comment {
    display: flex;
}

.comments .handle-comment img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
}

.comments .handle-comment .input-comment {
    flex: 1;
}

.comments .handle-comment .input-comment input {
    border: none;
    border-bottom: 1px solid #909090;
    background: transparent;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 6px;
    outline: none;
    background-image: linear-gradient(#000, #000);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.comments .handle-comment .input-comment input:focus-visible {
    background-size: 100% 2px, auto;
}

.comments .handle-comment .input-comment .submit-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comments .handle-comment .input-comment .submit-form button {
    text-transform: uppercase;
    align-self: flex-end;
    margin-left: 10px;
}

.comments .handle-comment .input-comment .submit-form button {
    margin: 1.6px 4px;
    padding: 20px 16px;
    color: #606060;
    font-size: 14px;
    text-transform: uppercase;
    
}

.comments .handle-comment .input-comment .submit-form button.add-comment {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.progress-bar-loadding {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(#f9f9f9, #efefef);
    z-index: 99;
}

.progress-bar {
    border: 1px solid transparent;
    background-image: linear-gradient(#f00, #a00);
    animation: loader 1.6s backwards linear;
}

@keyframes loader {
    0% {
        width: 0%;
        opacity: 1;
    }
    20% {
        width: 25%;
        opacity: 0.9;
    }
    50% {
        width: 50%;
        opacity: 0.8;
    }
    75% {
        width: 75%;
        opacity: 0.6;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

/* Comment item */
.comment-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.comment-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.comment-item .item {
    flex: 1;
}

.comment-item .item a{
    text-decoration: none;
    color: #000;
}

.comment-item .item a.time-add-comment {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 500;
}

.comment-item .item .content-text {
    margin-top: 10px;
}

.comment-item .item .content-text p{
    font-size: 14px;
}

.comment-item .item .button-like-dislike {
    display: flex;
}

.comment-item .item .button-like-dislike svg {
    width: 18px;
    height: 18px;
}

.comment-item .item .button-like-dislike span {
    margin-left: 5px;
    font-size: 12px;
}

.comment-item .item .btn-feedback {
    text-transform: uppercase;
}